.section {
    padding: 60px 0 80px;
    position: relative;
}

.title {
    color: var(--text-black);
    margin-bottom: 20px;
}

.subtitle {
    font-size: clamp(0.875rem, 0.161rem + 1.488vw, 1.5rem);
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: var(--text-black);
}

.wrapper {
    margin-top: 50px;
}

.item {
    background-color: var(--gray_light);
    height: auto;
}

.item_content {
    padding: 30px 40px;
}

.item_inner {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 30px;
}

.item_inner svg {
    flex: 0 0 auto;
}

.item_title {
    font-weight: 600;
    font-size: clamp(0.75em, -0.107em + 1.786vw, 1.5em);
    line-height: 1.3;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--text-black);
}

.prof {
    font-weight: 400;
    font-size: clamp(0.625em, 0.054em + 1.19vw, 1.125em);
    color: var(--text-black);
}

.item_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .item_content {
        padding: 20px;
    }
}

@media (max-width: 560px) {
    .item_title {
        font-size: 16px;
    }

    .item_inner {
        margin-bottom: 10px;
    }

    .prof {
        font-size: 14px;
    }

}