@import '@/app/mixins';

// @include adaptiv-value("font-size", 24, 13);

.list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    row-gap: 50px;

    @include adaptiv-value("margin-top", 140, 70);
    @include adaptiv-value("margin-bottom", 50, 30);

    @media (max-width:768px) {
        row-gap: 30px;
    }

    @media (max-width:630px) {
        grid-template-columns: 1fr;
    }
}