/*
  20px - font-size: 1.25em;
  18px - font-size: 1.125em;
  14px - font-size: 0.875em;
  12px - font-size: 0.75em;
  10px - font-size: 0.625em;
*/

:root {
  --font-family: "Manrope", sans-serif;
  --second-family: "Trajan Pro 3", sans-serif;
  --third-family: "Montserrat", sans-serif;

  /* переменные панели */
  --black: #27272a;
  --white: #FFFFFF;
  --blue: #063462;
  --dark-blue: #282646;
  --gray: #EBEEF8;
  --dark-gray: #e4e8f5;
  --light-blue: #37A4DA;
  --yellow: #FCCC05;
  --green: #29A55C;
  --light-yellow: #F7F3D6;
  --light-green: #3B2716;


  --gray_light: #EAECF0;
  --gray_medium: #DADDE2;
  --gray_bold: #BDC1C8;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
  font-family: var(--font-family);
  color: var(--black);
}

.container {
  max-width: 1480px;
  padding: 20px;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
}

.gap-10 {
  gap: 10px;
}
