@import '@/app/mixins';

// @include adaptiv-value("gap", 100, 30);

.section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;

    @media (max-width: 560px) {
        grid-template-columns: 1fr;
    }
}

.image_wrapper {
    position: relative;

    @media (max-width: 560px) {
        grid-row: 1/2;
    }
}

.image_wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item {
    @include adaptiv-value("padding", 80, 30);
    background-color: var(--black);
}

.item p {
    margin-bottom: 20px;
    color: var(--text-white);
    font-weight: 400;
    @include adaptiv-value("font-size", 26, 14);
    line-height: 1.3;
    letter-spacing: 0.04em;
}

.item p span {
    font-weight: 600;
}


.info {
    position: absolute;
    right: 40px;
    bottom: 0;
    padding: 30px;
    background-color: var(--white);
    max-width: 300px;
}

.name {
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: var(--text-black);
}

.border_left {
    border-left: 1px solid var(--black);
    height: 30px;
    margin-bottom: 10px;
}

.info_text {
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    color: var(--text-black);
}

@media (max-width: 768px) {

    .info {
        padding: 15px;
        max-width: 185px;
    }

    .name {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .border_left {
        height: 15px;
        margin-bottom: 5px;
    }

    .info_text {
        font-size: 12px;
    }

}