.map_wrapper {
    position: relative;
    z-index: 0;

    filter: grayscale(100%);
}

.map_wrapper > * {
    border: none !important;
}

.map_info {
    position: absolute;
    bottom: 0;
    z-index: 2;

    padding: 0 20px;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.map_info_item {
    display: flex;
    flex-direction: column;

    border: 1px solid var(--black);

    padding: 40px 30px;
    min-height: 274px;
    max-width: 274px;
    width: 100% ;
    position: relative;
    z-index: 1;
    background-color: rgba(234, 236, 240, 0.8);
}

.map_info_item::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    filter: blur(20px);
    -webkit-filter: blur(20px);
    z-index: -1;
}

.icon {
    margin-bottom: 20px;
}

.name {
    color: var(--black);
    font-size: clamp(0.75rem, 0.3202rem + 0.8942vw, 1.125rem);
    margin-bottom: 10px;
}

.desc, .desc > *  {
    color: var(--black);
    font-weight: 600;
    font-size: clamp(0.75rem, 0.177rem + 1.1923vw, 1.25rem);
    letter-spacing: 4%;
    margin-bottom: 40px;
}

@media (max-width: 480px) {
    .map_info_item {
        width: 100%;
    }

    .desc {
        font-size: 16px;
    }

    .name {
        font-size: 14px
    };

    .map_info {
        grid-template-columns: repeat(1, 1fr);
    }
}