.bg {
    padding: 130px 0;
    /* background: linear-gradient(to right, #44474D, #55585E);  */
    background: radial-gradient(circle, rgba(68, 71, 77, 1) 0%, rgba(39, 39, 42, 1) 60%);
    position: relative;

    height: 100vh;
    margin: 70px 0;
}

.subtitle {
    padding: 0px 40px;
    text-align: center;
    font-size: clamp(0.75rem, -0.1095rem + 1.7884vw, 1.5rem);
    color: var(--text-white);
    font-weight: 600;
    padding-bottom: 51px;
}


.info_1 {
    position: relative;
    z-index: 1;
    margin-top: 2%;
}

.info_2 {
    position: relative;
    z-index: 2;
    margin-left: -2%;

}


.info_wrapper {
    display: flex;
    justify-content: justify-between;

}

@media screen and (max-width: 769px) {
    .subtitle {
        font-size: 0.875em;
    }

    .bg {
        height: 100%;
        padding: 40px 0;
        margin: 30px 0;
    }
    .info_wrapper {
        flex-direction: column;
        gap: 20px;
    }
}