.bg {
    padding: 130px 0;
    background: linear-gradient(to right, #44474D, #55585E); 
    position: relative;

    height: 100vh;
}

.subtitle {
    text-align: center;
    font-size: clamp(0.75rem, -0.1095rem + 1.7884vw, 1.5rem);
    color: var(--text-white);
    font-weight: 600;
    padding-bottom: 51px;
}

.src_2 {
    position: absolute;
    bottom: 30%;
    z-index: 2;
}

.src_1 {
    position: absolute;
    left: 20%;
    bottom: 10%;
    z-index: 1;
}

.info {
    display: flex;
    justify-content: flex-end;

}

@media screen and (max-width: 580px) {
    .subtitle {
        font-size: 0.875em;
    }
}