@import '@/app/mixins';

.item {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--gray_light);
    transition: transform 0.3s ease;
}

.item:hover {
    transform: translateY(-15px);
}

.item_wrapper {
    display: contents;
    width: 100%;
    height: 100%;
}


.item_black {
    background-color: var(--black);
}

.item::before {
    position: absolute;
    content: '';
    top: 0;
    margin: 0 auto;
    right: 0 auto;
    height: 5px;
    width: 1px;

    background-color: var(--dark-gray);
}

.item_title {
    font-weight: 600;
    text-transform: uppercase;

    @include adaptiv-value("padding", 40, 20);

    color: var(--text-black);

    text-align: center;

    @include adaptiv-value("font-size", 24, 13);
}

.item_title_white {
    color: var(--text-white);
}

.img_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.img {
    width: 100%;
    height: 100%;
    max-width: 345px;
    object-fit: cover;
}

.item_link {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 30px;
    right: 30px;

    border-radius: 100%;

    height: 70px;
    width: 70px;

    background-color: var(--gray_light);
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 769px) {
    .specialization_wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .img_wrapper {
        width: auto;
    }

    .item_link {
        background-color: var(--white);
    }

    .item_link>* {
        scale: .5;
    }

    .item_title {
        padding: 20px;
        margin: 0 auto;
    }

    .item {
        min-height: 140px;
    }

    .item_title {
        font-size: 1rem;
    }

    .item {
        flex-direction: row;
    }

    .specialization_wrapper .item:nth-child(2) {
        background-color: var(--black);
    }

    .specialization_wrapper .item:nth-child(2) .item_title {
        color: var(--text-white);
    }

    .item_title {
        order: 2;
    }

    .img {
        min-width: 130px;
        max-width: 130px;
        order: 1;
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    .img_wrapper {
        position: initial;
    }

    .item_link {
        bottom: 10px;
        right: 10px;
        height: 35px;
        width: 35px;
    }

    .wrapper_only_img {
        display: none !important;
    }

}