.btn_prev,
.btn_next {
    border-radius: 50%;
    border: none;
    height: 50px;
    width: 74px;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
}

.swiper_nav_btns {
    position: absolute;
    top: 35px;
    right: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 1;
}

.buttons_bottom {
    position: absolute;
    top: auto;
    bottom: 10px;
    right: 50%;
    margin: 0 auto;
    transform: translateX(50%);
    z-index: 1;
}

.swiper_nav_btns button,
.swiper_nav_btns button svg,
.swiper_nav_btns button path,
.swiper_nav_btns button rect {
    transition: all 0.3s ease;
}

.btn_prev:hover rect,
.btn_next:hover rect {
    fill: #dadde2;
    stroke: #dadde2;
}

.btn_prev:hover path {
    transform: translateX(10px);
}

.btn_next:hover path {
    transform: translateX(-10px);
}